.hub {
  text-align: center;

  .title-sponsors {
    padding: $gutter 0;
    // background-color: $gpx-white;

    ul.sponsor-grid {
      margin: 0;
      padding: 0 0 $gutter;
      text-align: center;
      display: table;
      border-collapse: separate;
      border-spacing: $gutter;
      text-align: center;
      width: auto;
      margin: auto;

      li {
        list-style: none;
        margin: auto;
        padding: $gutter;
        // width: 24%;
        position: relative;
        background-color: $gpx-white;
        display: table-cell;
        border: 1px solid #ddd;


        img {
          width: 200px;
          max-width:100%;
          height: auto;
          // display: block;
          vertical-align: middle;
        }
      }
    }

    p {
      max-width: 900px;
      margin: auto;
    }
  }



}


.cards {
  background-color: $gpx-blue;
  padding: $gutter*2 0 $gutter*3;

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: $gutter*2;
    grid-row-gap: $gutter;

    @include lg {
      grid-template-columns: 1fr 1fr;
    }

  }

  .card {
    position: relative;
    padding-top: 60px;
    &:hover {
      .bubble {
        transform: translateX(-50%) scale(1.1);
        
        // transform: translateX(-50%);
      }
    }   

  }

  .bubble {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: transform .2s;
    transform-origin: center center;      
    z-index: 2;
  }

  p {
    margin-bottom: $gutter;
  }

  .card-inner {
    padding: 110px $gutter $gutter*2;
    // margin-top: 60px;
    position: relative;
    background-color: $gpx-white;
    height: 100%;
    z-index: 1;
    border-radius: $rad;
    box-shadow: 0 5px 10px rgba($gpx-black,0.25);
    text-align: center;

    p {
      max-width: 500px;
      line-height: 1.6em;
      margin: 0 auto $gutter;
    }

 

  }
}

.attention-box {
  width:auto;
  display: inline-block;
  margin: $gutter*2 auto;
  border: 1px solid #ccc;
  background-color: #eee;
  padding: $gutter*2;
  text-align: center;
  box-shadow: 5px 5px 10px rgba($gpx-black,0.0625);
}
.info-wrapper {
  min-height: calc(100vh - 159px);
  display: grid;
  align-items: center;
  text-align: center;
}

