  section.exhibit-video {
    padding: 0 0 30px;
    .container {
      max-width: 1000px;
    }
  }
  
  section.exhibit-intro {
    text-align: center;
    padding: 50px 0 30px;
    .container {
      max-width: 1000px;
    }    
  }


  .cas-container {
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-gap: $gutter/2;
  margin-bottom: $gutter/2;

  .file {
    border: 2px solid $gpx-green;
    border-radius: $rad;
    text-align: center;
    
    // padding: 10px;
    // margin: auto;
    a {
      color: $gpx-green;
      font-weight: bold;
      display: block;
      padding: 12px 0 8px;
      transition: all .2s;
      font-size: 16px;
      i {
        font-size: 40px;
        display: block;
      }

      &:hover {
        background-color: $gpx-green;
        color: $gpx-white;
      }
    }
  }
}

.files-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: $gutter/2;
  margin-bottom: $gutter/2;
  justify-content: flex-start;
  align-content: center;

  .file {
    border: 2px solid $gpx-green;
    border-radius: $rad;

    // text-align: center;
    
    // padding: 10px;
    // margin: auto;
    a {
      color: $gpx-green;
      font-weight: bold;
      display: block;
      padding: 10px;
      transition: all .2s;
      font-size: 16px;
      display: grid;
      grid-template-columns: 40px auto;
      align-items: center;

      > div {
        font-weight: bold;;
      }

      i {
        font-size: 40px;
        display: inline-block;
      }

      &:hover {
        background-color: $gpx-green;
        color: $gpx-white;
      }
    }
  }
}

.exhibitor-tabs {
  margin-top: $gutter;
  margin-bottom: 100px;

  .resp-tab-active {
    border-bottom: 5px solid $gpx-green !important; 
  }
}


.page-exhibitor-services, .page-exhibit, .page-travel {
  .gpx-wrapper {
    // background-color: $gpx-white;
    // padding: $gutter;
    border-radius: $rad;
  }

  .gpx-drawer {
    border-bottom: 1px solid #ddd;
    border: 1px solid #ddd;
    border-radius: $rad;
    // padding: $gutter/2;
    margin-bottom: $gutter/2;
    background-color: $gpx-white;

    &.active {

      .drawer-content {
        display: block;
      }

      .drawer-title {
        background-color: $gpx-blue;
        color: $gpx-white;
        &:hover {
          background-color: $gpx-blue;
        }

        .drawer-trigger {
          &:before {
            content: "\f077";
          }
        }
      }
    }

    table.cas {
      margin-top: $gutter;
      th, td {
        padding: 5px 10px;
        text-align: center;
        &.title {
          text-align: left;
          font-weight: bold;
          font-size: 15px;
        }
        &:nth-child(even) {
          background-color: #fafafa;
        }
      }

      th {
        font-weight: bold;
        
      }

      td {
        border-top: 1px solid #ddd;
        font-size: 13px;
      }
    }

      // &:first-of-type{
      //   .drawer-content {
      //     display: block;
      //   }
      // }    

    .drawer-title {
      display: grid;
      grid-template-columns: auto 50px;
      color: #000;
      background-color: #fafafa;
      cursor: pointer;

      &:hover {
         background-color: #fff;
      }

      .title {
        line-height: 1;
        margin: 0;
        padding: $gutter/2;
        font-size: 15px;
        font-weight: 600;
        @include md {
          font-size: 20px;
        }
      }

      .drawer-trigger {
        display: grid;
        align-content: center;
        justify-content: center;
        border-left: 1px solid #ddd;
        &:before {
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f078";
        }
      }
    }
    .drawer-content {
      display: none;
      padding-bottom: none;
      transition: all 1s;
      padding: $gutter;

      p {
        // margin: $gutter/2 0 0;
        padding: 0;
        margin: 0 0 1em 0;
      }

      ul {
      margin-top: 0;
      padding-top: 0;

        &.files {

          li {
            padding: 5px;
          }
          // color: red;
          li::marker {
              // color: red;
              font-weight: bold;
              font-family: "Font Awesome 5 Free";
              font-size: 15px;
              content: "\f15b";
            }          
        }

        &.multi-col {
          columns: 1;
          @include md {
            columns: 2;
          }
          @include lg {
            columns: 3;
          }          
        }
      }

      li {
        font-size: 15px;
        padding-left: 5px;
      }

      h1, h2, h3, h4, h5, h6 {
        margin: 0.5em 0;
      }

      b {
        font-weight: 700;
      }

      hr {
        margin: 20px 0;
      }


    }    






  }

  .button-group {
    border-radius: 15px;
    // height: 30px;
    // border: 2px solid $gpx-blue;
    display: inline-block;
    overflow: hidden;
    margin: $gutter/2 0;

    a {
      background-color: $gpx-blue;
      color: $gpx-white;
      // height: 40px;
      padding: 0 15px;
      line-height: 30px;
      font-size: 14px;
      font-weight: 600;
       border-right: 1px solid #fff;
      // display: inline-block;
      float: left;

      &:hover {
        background-color: $gpx-green;
      }
      &:last-of-type {
       border-right: none;
      }
    }
  }



  .button {
          padding: 0 15px;
          line-height: 40px;
          height: auto;
          font-size: 15px;
          border-radius: 22px;
          margin: $gutter/2 0;

  }




}

.page-exhibitor-services, .page-exhibit, .page-child {
  .gpx-wrapper {
    // padding: $gutter*1.5 0;
    padding-bottom: $gutter;
  }
  .gpx-footer {
    // background-color: $gpx-green;

    .footer-nav {
      // background-color: darken($gpx-green,10%);
    }
  }
}


.exhibitor-contact {
  background-color: #fff;
  padding: $gutter*1.5 0;
  text-align: center;

  p {
    max-width: 900px;
    margin: auto;
  }


  .contact-grid {
    // width: 900px;
    // max-width: 90%;
    margin: $gutter auto;    
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    @include md {
      display: table;

      .item {
        width: 33.3%;
      }
    }

    .item {
      display: table-cell;
      
      padding: 0 $gutter $gutter;
    }

    .photo {
      img {
        width: 150px;
        max-width: 90%;
        margin: auto;
        border-radius: 75px;
        overflow: hidden;
      }
    }
    .name {
      font-size: 16px;
      font-weight: 700;
      margin-top: 10px;
    }
    .markets {
      font-size: 13px;
      font-weight: normal;
      font-style: italic;
    }

    .email {
      padding: 5px 0;
      a {
        color: $gpx-blue;
      }
    }
  }
}

.page-exhibit {
  h3 {
    span {
      color: $gpx-blue;
    }
  }
}


ul.attachments {
  li.basic {
    &::marker {
      font-weight: bold;
      font-size: 15px;
      content: "\26AC";
      margin-left: -2px;
    }
  }
  li.file {
    &::marker {
      font-weight: normal;
      font-family: "Font Awesome 5 Free";
      font-size: 15px;
      content: "\f1c1";
    }
  }
  li.link {
    &::marker {
      font-weight: bold;
      font-family: "Font Awesome 5 Free";
      font-size: 15px;
      content: "\f0c1";
    }
  }    
}