
.gpx-main {
  width: 100%;
  background-color: #fff;
  min-height:300px;
  display: inline-block;
  margin-bottom: $gutter;
  border-radius: $rad;
  overflow: hidden;


  article {
    margin: $gutter;
  }
}